.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
}

.img_carousel {
  width: 80%;
  border-radius: 5px;
}

.leftArrow {
  background-image: url('../../../img/Carousel/slider_icons/left.png');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 13%;
  top: 50%;
}

.rightArrow {
  background-image: url('../../../img/Carousel/slider_icons/right.png');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 13%;
  top: 50%;
}