.slider {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.active {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 100%;
}

.img_carousel_container{
  overflow: auto;
  width: 80%;
  height: 200px;
  margin-bottom: 32px;
}

.img_carousel {
  object-fit: cover;
  object-position: bottom;
  border-radius: 3px;
  max-height: 100%;
  width: 100%;
}

.active .description {
  box-sizing: border-box;
  text-align: center;
  opacity: 0.4;
  font-size: 0.9em;
  padding: 8px;
  margin: 0 8px;
}

.active .description p {
  color: white;
}

.leftArrow {
  background-image: url('../../../img/Carousel/slider_icons/left.svg');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  left: 1%;
  top: 30%;
}

.rightArrow {
  background-image: url('../../../img/Carousel/slider_icons/right.svg');
  width: 25px;
  height: 25px;
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  right: 1%;
  top: 30%;
}

@media screen and (min-width: 400px) {
  .img_carousel_container {
    height: 250px;
    width: 80%;
  }
}

@media screen and (min-width: 500px) {
.img_carousel_container{
  position: relative;
  overflow: hidden;
  height: 300px;
  width: 80%;
}

  .active .img_carousel {
    transition: transform 0.4s;
  }

  .active:hover .img_carousel {
    transform: scale(1.1);
  }

  .active .description {
    position: absolute;
    bottom: 0;
    width: 100%;
    color: white;
    opacity: 0.6;
    background-color: rgba(0, 0, 0, 0.9);
    text-align: center;
    transform: translateY(100%);
    transition: transform 0.4s;
    padding: 15px;
    margin-bottom: 0;
  }

  .active .description {
    color: white;

  }

  .active:hover .description {
    transform: translateY(25%);
    margin: 0;
  }
}
